{% extends 'syntaxforest/base.html' %}

{% block title %}Source | Syntax Forest{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title">
        Source | Syntax Forest
      </h1>
      <form method="POST">
        <div class="field">
          <div class="control">
            <textarea name="text" class="textarea is-large is-family-monospace" placeholder="Source text" rows="8"></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input name="path" class="input is-large is-family-monospace" type="text" placeholder="Source path">
          </div>
        </div>
        <div class="field has-addons has-addons-centered">
          <p class="control">
            <span class="select is-large">
              <select name="language">
                <option value="language">Language</option>
                <option value="python">Python</option>
                <option value="java">Java</option>
              </select>
            </span>
          </p>
          <p class="control is-expanded">
            <input name="sha" class="input is-large is-family-monospace" type="text" placeholder="Source SHA (optional)">
          </p>
          <p class="control">
            <button class="button is-primary is-large">Save</button>
          </p>
        </div>
        {% csrf_token %}
      </form>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="title is-size-4">
        Sources
      </h2>
      <ol>
        {% for source in sources %}
          <li><a href="{% url 'source' source.path %}">{{ source.path }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </section>
{% endblock %}
