{% extends 'syntaxforest/base.html' %}

{% block title %}{{ search.get_ref }} | Syntax Forest{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title">
        {{ search.get_ref }}
        <form method="POST" class="is-pulled-right">
          <div class="field">
            <div class="control">
              <button class="button is-danger">Delete</button>
            </div>
            <input name="action" value="delete" type="hidden">
            {% csrf_token %}
          </div>
        </form>
      </h1>
      <div class="field">
        <div class="control">
          <textarea name="query" class="textarea is-large is-family-monospace" rows="8" readonly>{{ search.query }}</textarea>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="title is-size-4">
        Status
        <form method="POST" class="is-pulled-right">
          <div class="field">
            <div class="control">
              <button class="button is-primary">Re-run</button>
            </div>
            <input name="action" value="rerun" type="hidden">
            {% csrf_token %}
          </div>
        </form>
      </h2>
      <ul>
        <li>Language: {{ search.language }}</li>
      </ul>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="title is-size-4">
        Captures
      </h2>
      {% for result in results %}
        <h3 class="title is-size-5">
          {{ result.path }}
        </h3>
        {% for capture in result.capture_set.all %}
          {% if forloop.first %}
            <style>
              {{ capture.to_html.1|safe }}
            </style>
          {% endif %}
          {{ capture.to_html.0|safe }}
          <br>
        {% endfor %}
      {% endfor %}
    </div>
  </section>
{% endblock %}
